{% extends "layout.html" %}

{% block title %}
  Buy
{% endblock %}

{% block main %}
    <div class="mb-3">
        <form action="/buy" method="post">
            <div>
                <input
                    autocomplete="off"
                    autofocus
                    class="form-control mx-auto w-auto"
                    id="symbol"
                    name="symbol"
                    placeholder="Stock token"
                    type="text"
                />
            </div>
            <div>
                <input
                    autocomplete="off"
                    autofocus
                    class="form-control mx-auto w-auto"
                    id="shares"
                    name="shares"
                    placeholder="Amount"
                    type="text"
                />
            </div>
            <button class="btn btn-primary" type="submit">BUY</button>
        </form>
    </div>
{% endblock %}
