{% extends "layout.html" %}

{% block title %} History {% endblock %}

{% block main %}
    <div class="container mb-3">
        <!-- Show portfolio of stocks. -->
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Symbol</th>
                <th>Shares Bought</th>
                <th>Shares Sold</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction['dt'] }}</td>
                    <td>{{ transaction['dt'] }}</td>
                    <td>{{ transaction['symbol'] }}</td>
                    <td>{{ transaction['shares'] }}</td>
                    <td>{{ transaction['shares'] }}</td>
                    <td>{{ transaction['price'] | usd }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
