{% extends "layout.html" %}

{% block title %}
  Quote
{% endblock %}

{% block main %}
    <div class="container mb-3">
        <!-- Show information about symbol requested -->
        <table class="table">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>{{ quote.get('symbol') }}</td>
                <td>{{ quote.get('name') }}</td>
                <td>{{ quote.get('price') | usd }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
