{% extends "layout.html" %}

{% block title %} Stocks {% endblock %}

{% block main %}

    <form action="/sell" method="POST">
        <div class="mb-3">
            <label for="symbol">Choose a stock:</label>
            <select name="symbol" id="symbol">
                {% for stock in stocks %}
                    {% if stock.shares %}
                        <option value="{{ stock["symbol"] }}">
                            {{ stock["symbol"] }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="shares">
                <input
                    class="form-control mx-auto w-auto"
                    id="shares"
                    name="shares"
                    placeholder="Amount"
                    type="number"
                />
            </label>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>


{% endblock %}
