{% extends 'todos/layout.html' %}
{% block body %}
    <h1>Add todo</h1>
    <form method="POST" action="{% url 'todos:add' %}">
        <label>
            {% csrf_token %}
            {{ form }}
        </label>
        <input type="submit" value="Add" >
    </form>
    <a href="{% url 'todos:index' %}">Go back</a>
{% endblock %}