{% extends 'todos/layout.html' %}
{% block body %}
<h1>Hello, Todos!</h1>
<table>
    <thead>
    <tr>
        <th>TODO</th>
        <th> Description</th>
        <th> Priority</th>
    </tr>
    </thead>
    <tbody>
    {% for todo in todos %}
        <tr>
            <td>{{ todo.title }}</td>
            <td>{{ todo.description }}</td>
            <td>{{ todo.priority }}</td>
        </tr>
        {% empty %}
        <p>There are no todos todo!</p>
    {% endfor %}
    </tbody>
</table>

<a href="{% url 'todos:add' %}">Add a new Todo</a>
{% endblock %}