{% extends "layout.html" %}

{% block body %}

<h1>Register</h1>
<form method="post" action="/register">
    <input autocomplete="off" autofocus type="text" name="name" placeholder="Name" />
        {% for act in acts %}
            <input type="radio" name="act" value="{{ act }}" />{{ act }}
        {% endfor %}
    </select>
    <input type="submit" value="Register" />
</form>

{% endblock %}
