<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Greet</title>
    </head>
    <body>
        <h1 style="background-color: antiquewhite; color: darkblue">
            Hello, {{ name }}!
        </h1>
    </body>
</html>