<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"> -->
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
                {% block body %}
                    <form action="/" method="post">
                        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
                        <input autocomplete="off" name="month" placeholder="month" type="number">
                        <input autocomplete="off" name="day" placeholder="day" type="number">
                        <input type="submit" value="Add">
                    </form>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for birthday in birthdays %}
                          <tr>
                              <td>{{ birthday.name }}</td>
                              <td>{{ birthday.day }}/{{ birthday.month }}</td>
                              <td>
                                <form action="/delete" method="post">
                                  <input name="id" type="hidden" value="{{ birthday.id }}">
                                  <input type="submit" value="Delete">
                                </form>
                              </td>
                          </tr>
                        {% endfor %}
                      {% endblock %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
