body {
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

nav a {
    padding-right: 5px;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background-color: #4285f4;
    padding: 5px;
    margin: 10px;
}

input, .btn-primary {
    border-radius: 5px;
}

.advanced-search {
    width: 60vw;
    display: flex;
}