{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Time Now</title>
        <link rel="stylesheet" href="{% static 'timenow/styles.css' %}">
    </head>
    <body>
        <p>It is currently {{ date }}</p>
        {% if midnight %}
            <p class="midnight">Spoopy time!!!</p>
        {% else %}
            <p>{{ time }}</p>
        {% endif %}

    </body>
</html>