{% extends "layout.html" %}

{% block title %} History {% endblock %}

{% block main %}
    <div class="container mb-3">
        <!-- Show portfolio of stocks. -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Symbol</th>
                        <th>Shares Bought</th>
                        <th>Shares Sold</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                {% if trans %}
                    {% for tran in trans %}
                        <tr>
                            <td>{{ tran['date'] }}</td>
                            <td>{{ tran['time'] }}</td>
                            <td>{{ tran['symbol'] }}</td>
                            <td>{{ tran['purchased'] }}</td>
                            <td>{{ tran['sold'] }}</td>
                            <td>{{ tran['price'] | usd }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
    </div>

{% endblock %}
