{% extends "layout.html" %}

{% block title %} Stocks {% endblock %}

{% block main %}
    <div class="container mb-3">
        <!-- Show portfolio of stocks. -->
            <table class="table">
                {% if stocks %}
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Shares Owned</th>
                        <th>Current Price</th>
                        <th>Total Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                        {% if stock.value %}
                            <tr>
                                <td>{{ stock['symbol'] }}</td>
                                <td>{{ stock['shares'] }}</td>
                                <td>{{ stock['price'] | usd }}</td>
                                <td>{{ stock['value'] | usd }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        <!-- User's cash/assets -->
        <table class="table mt-5">
            <thead>
                <tr>
                    <th>Cash</th>
                    <th>Total Assets</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% if data %}
                        <td>{{ data[0]['cash'] | usd }}</td>
                        {% else %}
                        <td>{{ assets | usd }}</td>
                    {% endif %}
                    <td>{{ assets | usd }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
