{% extends "layout.html" %}

{% block title %} Quote {% endblock %}

{% block main %}
<form action="/quote" method="post">
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      id="symbol"
      name="symbol"
      placeholder="Stock token"
      type="text"
    />
  </div>
  <button class="btn btn-primary" type="submit">GET QUOTE</button>
</form>
{% endblock %}
