{% extends "layout.html" %}

{% block title %} Stocks {% endblock %}

{% block main %}

    <form action="/sell" method="POST">
        <div class="mb-3">
            <label for="symbol">Choose a stock:</label>
            <select name="symbol_select" id="symbol_select">
                {% for stock in stocks %}
                    {% if stock.shares %}
                        <option value="{{ stock["symbol"] }}">{{ stock["symbol"] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input
                class="form-control mx-auto w-auto"
                id="amount"
                name="amount"
                placeholder="Amount"
                type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>

{% endblock %}
