{% extends "layout.html" %}

{% block body %}
    <form method="post" id="" action="/greet">
      <input autocomplete="off" autofocus type="text" name="name" placeholder="Name" />
      <input type="submit" />
    </form>
{% endblock %}
