<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE-edge'>
    <title>Hello, Flask!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' href='main.css' type='text/css' media='screen' />
        <script type='text/javascript' src='main.js'></script> -->
  </head>

  <body>
    {% block body %}{% endblock %}
  </body>
</html>
