@font-face {
  font-family: "Katakana";
  src:
    url("../fonts/katakana.ttf") format("ttf")

}/* Color of the text - you can change it as you need. */



/* These are the properties applied to div that has the "innerDiv" class - you can change it as you need. */

.inner-div {
  position: absolute;
  left: 10px;
  top: 10px;
}
